<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>(20) Home / Twitter</title>
    <link rel="icon" href="./Images/icon.png">
</head>
<body class="body">
    <main class="main">
<!-- LEFT SECTION -->
        <section class="left-section">
                <div class="navlink-icon"><i class="fa fa-twitter fa-2x"></i></div>
                <div class="navlink active"><div class="nav-hover"><i class="fa fa-home"></i>Home</div></div>
                <div class="navlink"><div class="nav-hover"><i class="fa fa-hashtag"></i>Explore</div></div>
                <div class="navlink"><div class="nav-hover"><i class="fa fa-bell-o"><sup>20+</sup></i>Notifications</div></div>
                <div class="navlink"><div class="nav-hover"><i class="fa fa-envelope-o"></i>Messages</div></div>
                <div class="navlink"><div class="nav-hover"><i class="fa fa-bookmark-o"></i> Bookmarks</div></div>
                <div class="navlink"><div class="nav-hover"><i class="fa fa-file-text-o"></i> Lists</div></div>
                <div class="navlink"><div class="nav-hover"><i class="fa fa-user-o"></i> Profile</div></div>
                <div class="navlink"><div class="nav-hover"><i class="fa fa-chevron-circle-down"></i>More</div></div>
                <div class="container1">
                    <input type="checkbox" class="switchBtn">
                </div>
                <button type="button" class="tweet-button1">Tweet</button> 
        </section>
        <section class="left-spacer"> </section>

<!-- RESPONSIVE LEFT SECTION -->

        <section class="left-section-R">
            <div class="navlink-icon"><i class="fa fa-twitter  fa-2x"></i></div>
            <div class="navlink active"><i class="fa fa-home fa-lg"></i></div></div>
            <div class="navlink"><i class="fa fa-heart-o fa-lg"></i></div></div>
            <div class="navlink"><i class="fa fa-bell-o fa-lg"></i></div></div>
            <div class="navlink"><i class="fa fa-envelope-o fa-lg"></i></div></div>
            <div class="navlink"><i class="fa fa-bookmark-o fa-lg"></i></div></div>
            <div class="navlink"><i class="fa fa-file-text-o fa-lg"></i></div></div>
            <div class="navlink"><i class="fa fa-user-o fa-lg"></i></div></div>
            <div class="navlink"><i class="fa fa-caret-down fa-lg"></i></div></div>
        </section>
        <section class="left-spacer-R"> </section>

 <!-- MIDDLE SECTION -->
        <section class="middle-section">

            <header class="header">
                <div class="topbar">
                    <img class="user-profile-picture-header" src="./Images/userprofilephoto.jfif" alt="Profile Photo">
                    <div class="home-title">Home</div>            
                    <span class="snowflake-logo"><i class="fa fa-snowflake-o fa-lg"></i></span>   
                </div>
            </header>

                <form class="WH" method="post" action="/tweet/add?token=<%= token %>">
                    <div class="User-Tweet-Input">
                        <img class="user-profile-picture" src="./Images/userprofilephoto.jfif" alt="Profile Photo">
                        <input class="tweet-input" id="postsomething" name="tweetInput" type="text" placeholder="What's happening?" maxlength="280" required>
                    </div> 
                    <div class="tweet-controls">
                        <div class="media-icons">
                            <span class="media-icons-hover"><i class="fa fa-picture-o fa-lg"></i></span>
                            <span class="media-icons-hover"><i class="fa fa-camera fa-lg"></i></span>
                            <span class="media-icons-hover"><i class="fa fa-bar-chart fa-lg"></i></span>
                            <span class="media-icons-hover"><i class="fa fa-smile-o fa-lg"></i></span>
                            <span class="media-icons-hover"><i class="fa fa-calendar-check-o fa-lg"></i></span> 
                        </div>
                        <span><button id="tweet-button" type="submit" class="tweet-button2">Tweet</button></span>
                    </div>
                </form>

                <div class="border-posts-container"></div>


            <div class="Post-container"> 

                <% tweets.forEach(function(tweet,index){ %>
                    <div class=post>
                        <img class="profile_img-post" src="./Images/profilephoto3.jfif" alt="image">
                        <div class="post-content">
                            <div class="Name2">
                                <div class="Name"><%= tweet.name %></div>
                                <div class="ID"><%= tweet.userName %></div>
                            </div>
                            <div class="content-text"><%= tweet.content %></div>
                            <div class="icons">
                                <span class="comment"><div class="comment-hover"><i class="fa fa-comment-o"> 6</i></div></span>
                                <span class="retweet"><div class="retweet-hover"><i class="fa fa-retweet"></i></div></span>
                                <span class="like"><div class="like-hover"><i class="fa fa-heart-o"> <%= tweet.likes %></i></div></span>
                                <span class="share"><div class="share-hover"><i class="fa fa-upload"></i></div></span>
                            </div>
                        </div>
                    </div>
                <% }) %>


                <!-- <div class=post>
                    <img class="profile_img-post" src="./Images/profilephoto2.jfif" alt="image">
                    <div class="post-content">
                        <div class="Name2">
                            <div class="Name">Richard Jones</div>
                            <div class="ID">@richard97 · 8m</div>
                        </div>
                        <div class="content-text">A Bald Eagle named Bruce gives photographer Steve Biro the shot of a lifetime / 2019 </div>
                        <img class="content-img" src="./Images/post2-img.jfif" alt="image" >
                        <div class="icons">
                            <span class="comment"><div class="comment-hover"><i class="fa fa-comment-o"> 9</i></div></span>
                            <span class="retweet"><div class="retweet-hover"><i class="fa fa-retweet"> 6</i></div></span>
                            <span class="like"><div class="like-hover"><i class="fa fa-heart-o"> 11</i></div></span>
                            <span class="share"><div class="share-hover"><i class="fa fa-upload"></i></div></span>
                        </div>
                    </div>
                </div> -->

          </div>
        </section>  


<!-- RIGHT SECTION -->
        <section class="right-section">
<!-- SEARCH BAR SECTION -->     
            <div class="search-main">
                <div class="search-container">
                    <i class="fa fa-search"></i>
                    <input class="search-bar" type="text" placeholder="Search Twitter">
                </div>      
            </div>
                 
 <!-- WHAT'S HAPPENING SECTION -->           

            <div class="WHR">
                <div class="p0">What's Happening?</div>

                <div class="p1">
                    <div class="p11">Trending Worldwide</div>
                    <div class="p12">#BreakingNews</div>
                    <div class="p13">
                        <div class="wrap">
                            <div class="wrap1">
                                <div class="p131">Space</div>
                                <div class="p132">Lunar photography improves the discovery of the moon</div>
                            </div>
                            <div><img class="img-WHR" src="./Images/moon.jfif" alt=""></div>
                        </div>    
                            
                    </div>
                    <div class="p11">10,1094 people are Tweeting about this</div>
                </div>

                <div class="p2">
                    <div class="p21">Trending Worldwide</div>
                    <div class="p22">#WorldNews</div>
                    <div class="p23">125K Tweets</div>
                    <div class="p24">5,094 people are tweeting about this</div>
                </div>

                <div class="p1">
                    <div class="p11">Trending Worldwide</div>
                    <div class="p12">#BreakingNews</div>
                    <div class="p13">
                        <div class="wrap">
                            <div class="wrap1">
                                <div class="p131">Animals</div>
                                <div class="p132">These cats are ready for #INTERNATIONALCATDAY</div>
                            </div>
                        <div><img class="img-WHR" src="./Images/cat.jfif" alt=""></div>

                        </div>   
                    </div>
                    <div class="p11">2,757 people are Tweeting about this</div>
                </div>

                <div class="p2">
                    <div class="p21">Trending Worldwide</div>
                    <div class="p22">#GreatestOfAllTime</div>
                    <div class="p23">100K Tweets</div>
                    <div class="p24">4,123 people are tweeting about this</div>
                </div>

                <div class="p5">Show more</div>
            </div>     
            
<!-- WHO TO FOLLOW SECTION -->
            <div class="follow_Section">
                <div class="p6">Who to follow</div>

                <div class="follow_container">
                    <div class="Name1">
                                <img class="img-WTF" src="./Images/profilepicture1.jfif" alt="">
                                <div class="Namewrap">
                                    <div class="Name-WTF">James Smith</div>
                                    <div class="ID-WTF">@jamessmith</div>
                                </div>
                            <div class="follow-button-container"><button type="button" class="follow-button">Follow</button></div>    
                    </div>
                </div>


                <div class="follow_container">
                    <div class="Name1">
                                <img class="img-WTF" src="./Images/profilepicture2.jfif" alt="">
                                <div class="Namewrap">
                                    <div class="Name-WTF">Ellie Clark</div>
                                    <div class="ID-WTF">@ellieclark</div>
                                </div>
                            <div class="follow-button-container"><button type="button" class="follow-button">Follow</button></div>
                    </div>
                </div>


                <div class="follow_container">
                    <div class="Name1">
                                <img class="img-WTF" src="./Images/profilepicture3.jfif" alt="">
                                <div class="Namewrap">
                                    <div class="Name-WTF">Lily Cox</div>
                                    <div class="ID-WTF">@lily03</div>
                                </div>
                            <div class="follow-button-container"><button type="button" class="follow-button">Follow</button></div> 
                    </div>
                </div>


                <div class="follow_container">
                    <div class="Name1">
                                <img class="img-WTF" src="./Images/profilepicture4.jfif" alt="">
                                <div class="Namewrap">
                                    <div class="Name-WTF">Marcel Gerald</div>
                                    <div class="ID-WTF">@geraldmarcel</div>
                                </div> 
                            <div class="follow-button-container" ><button type="button" class="follow-button">Follow</button></div>  
                    </div>
                </div>

                
                <div class="follow_container">
                    <div class="Name1">
                                <img class="img-WTF" src="./Images/profilepicture5.jfif" alt="">
                                <div class="Namewrap">
                                    <div class="Name-WTF">Gaurav Singh</div>
                                    <div class="ID-WTF">@gaurav12</div>
                                </div> 
                        <div class="follow-button-container"><button type="button" class="follow-button">Follow</button></div>
                    </div>
                </div>

                <div class="follow_container">
                    <div class="Name1">
                                <img class="img-WTF" src="./Images/profilepicture6.jfif" alt="">
                                <div class="Namewrap">
                                    <div class="Name-WTF">NDTV India</div>
                                    <div class="ID-WTF">@ndtvinida</div>
                                </div>
                        <div class="follow-button-container"><button type="button" class="follow-button">Follow</button></div>
                    </div>
                </div>

                <div class="p5">Show more</div>
            </div>
<!--Terms and conditions-->  

            <div class="footer">
                <div>Terms</div>
                <div>Privacy policy</div>
                <div>Cookie</div>
                <div>Ads info</div>
                <div>More <i class="fa fa-angle-down"></i></div>
            </div>
            <div class="terms"><i class="fa fa-copyright"></i>2020 Twitter, Inc.</div>
    
        </section>
          
    </main>

<!--Responsive NavBar-->    
    <nav>
        <div class="container">
            <div><i class="fa fa-home fa-lg"></i></div>
            <div><i class="fa fa-search fa-lg"></i></div>
            <div><i class="fa fa-bell-o fa-lg"></i></div>
            <div><i class="fa fa-envelope-o fa-lg"></i></div>
        </div>
    </nav>

<!--Floating Button-->

    <div class="floating-button">
        <a href="#" class="float">
            <i class="fa fa-location-arrow fa-2x my-float"></i>
        </a>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(".fa-heart-o").click(function(){
            // alert("hi")
            $(this).toggleClass("fa-heart-o fa-heart");
            $(this).closest(".like-hover").toggleClass("liked");
            let likes=$(this).html();
            if((this).className=="fa fa-heart")
              $(this).text(" "+ ++likes)
            else
              $(this).text(" "+ --likes)
        })
        $('#postsomething').keyup(function () {
            if ($(this).val() == '') {
                
                $('.tweet-button2').attr('disabled', true);
            } else {
                
                $('.tweet-button2').attr('disabled', false);
            }
        });
        $(document).ready(function() {
            $(".switchBtn").click(function() {
                $("body").toggleClass("dark-mode");
                if($("body").hasClass("dark-mode")){
                    document.documentElement.style.setProperty('--main-text1-color', "white");
                    document.documentElement.style.setProperty('--main-border-color', "rgb(42, 63, 85)");
                    document.documentElement.style.setProperty('--main-bg-color', " rgb(21, 32, 43)");
                    document.documentElement.style.setProperty('--search-bar', " rgb(37,51,65)");
                    document.documentElement.style.setProperty('--whats', " rgb(29,43,55)");
                    document.documentElement.style.setProperty('--wtf-hover', " rgb(35, 52, 66)");
                    $(".fa-twitter").css("color","white")
                }
                else{
                    document.documentElement.style.setProperty('--main-text1-color', "black");
                    document.documentElement.style.setProperty('--main-border-color', "rgb(212, 206, 206)");
                    document.documentElement.style.setProperty('--main-bg-color', " white");
                    document.documentElement.style.setProperty('--search-bar', " rgb(241, 239, 239)");
                    document.documentElement.style.setProperty('--whats', " #f5f8fa");
                    document.documentElement.style.setProperty('--wtf-hover', " #e6ecf0");
                    $(".fa-twitter").css("color","#1da1f2")
                }                
            });
            
        });
    </script>
    <script src="js/index.js"></script>
</body>
</html>